.form-input{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.error-message{
    color: rgb(236, 67, 67);
    width: auto;
    padding: 5px;
    display: none;
}

.form-input input:invalid[focussed="true"]{
    border: 2px solid red;
}

.form-input input:invalid[focussed="true"] ~ .error-message{
    display: block;
}
