
.header
{
    background-color: black;
    height: 65px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px !important ;
    position: sticky;
    top: 0;
    z-index: 999;
}

.leftBar
{
    display: flex;
    align-items: center;
    width: 5%;
    margin-left: 30px;
}

.title
{
    position: relative;
    top: 5px;
}

.rightBar
{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 19%;
}

.cartContainer
{
    position: relative;
    cursor: pointer;
}

.num
{
    position: absolute;
    left: 6px;
    top: 14px;
    font-size: 10px;
}

.profileContainer{
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    position: relative;
    left: -25px;
}

.signIn{
    position: relative;
    top: 5px;
    left: -40px;
    cursor: pointer;
}

.signOut{
    margin-right: 40px;
    margin-top: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}


h5
{
    cursor: pointer;
}


.logged
{
    display: flex;
    justify-content: center;
    align-items: center;
}