
.header
{
    background-color: black;
    height: 65px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px !important ;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;
}

.leftBar
{
    display: flex;
    align-items: center;
    width: 5%;
    margin-left: 30px;
}

.title
{
    position: relative;
    top: 5px;
}

.rightBar
{
    display: flex;
    padding-right: 20px;
    justify-content: end !important;
    width: 20%;
}

.cartContainer
{
    position: fixed;
    cursor: pointer;
    right: 100px;
    top: 10px;
}

.num
{
    position: absolute;
    left: 6px;
    top: 14px;
    font-size: 10px;
}

.profileContainer{
    border: 1px solid white;
    border-radius: 50%;
    width: 39px;
    position: relative;
    right: 20px;
}

.signIn{
    position: relative;
    top: 5px;
    left: -40px;
    cursor: pointer;
}

.signOut{
    margin-right: 40px;
    margin-top: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}


h5
{
    cursor: pointer;
}


.logged
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchContainer
{
    border-radius: 999px 999px 999px 999px;
    position: fixed;
    right: 310px;
    top: 13px;
}

.searchContainer input
{
    border-radius: 999px 999px 999px 999px;
    height: 38px;
    padding-left: 50px;
    width: 200px;
}

.searchContainer input:focus
{
    outline: none;
}

.searchIcon
{
    background-color: rgb(10, 158, 226);
    position: absolute;
    height: 99%;
    border-radius: 999px 0 0 999px;
    width: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1px;
}

.hide
{
    position: absolute;
    top: 51px;
    right: 25px;
    padding-left: 30px;
    width: 80px;
    background-color: white;
    color: black;
    border-radius: 10px;
    display: none;
}

.logged:hover .hide{
    display: block;
}

@media screen and (max-width: 768px) {
    .appName{
        font-size: smaller;
        margin-left: 10px;
    }

    .searchContainer{
        position: fixed;
        right: 200px;
        top: 20px;
        margin-right: 0px;
        border: none;
        outline: none;
    }

    .searchContainer input{
        height: 25px;
        width: 120px;
        padding-left: 40px;
        border: none;
        outline: none;
    }

    .searchIcon{
        height: 97%;
    }

    .cartContainer
    {
        position: fixed;
        right: 75px;
        top: 17px;
    }

    .num
    {
        position: absolute;
        top: 7px;
        left: 2px;
    }

    .rightBar{
        padding-right: 1px;
    }

    .leftBar{
        position: relative;
        left: -25px;
    }

    .hide
{
    position: absolute;
    top: 50px;
    right: 10px;
    padding-left: 30px;
    width: 80px;
    background-color: white;
    color: black;
    border-radius: 10px;
    display: none;
}
}