.card
{
    margin-bottom: 40px;
    padding-top: 20px;
    width: 270px;
    text-align: center;
    background-color: white;
}

.card:last-child
{
    margin-right: 0px;
}

.cardImage
{
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.container
{
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

.cardBody
{
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    zoom: 90%;
}

