.card
{
    margin-bottom: 40px;
    padding-top: 20px;
    width: 300px;
    text-align: center;
    background-color: white;
}

.card:first-child
{
    margin-left: 120px;
}

.cardImage
{
    height: 200px;
    width: 200px;
}

.container
{
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

.cardBody
{
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

