.main-home-content
{
    padding-top: 100px;
}

.main-home
{
    background-color: #4FC3F7;
    min-height:100vw;
    padding-bottom: 0;
    width: 100vw;
    overflow: hidden;
}

.unlogged-home{
    position: fixed;
    overflow: hidden;
    width: 100vw;
}

.item
{
    display: flex;
    justify-content: center;
}
