.main-home-content
{
    margin: 0 40px;
    padding-top: 40px;
}

.main-home
{
    background-color: #4FC3F7;
    min-height:100vw;
    padding-bottom: 0;
}

.unlogged-home{
    position: fixed;
    overflow: hidden;
    width: 100vw;
}